{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 style="text-align: center;">Add Inventory</h1>
  <form method="POST" action="{{ url_for('add_inventory') }}">
    <div class="form-group">
      <label for="proj_id">Project:</label>
      <select class="form-control" id="proj_id" name="proj_id" required>
        <option value="">Select a Project</option> <!-- Added prewritten option -->
        {% for project in projects %}
        <option value="{{ project.proj_id }}">{{ project.proj_name }}</option>
        {% endfor %}
      </select>
    </div>   
    <div class="form-group">
      <label for="equipment">Equipment:</label>
      <input type="text" class="form-control" id="equipment" name="equipment" required placeholder="Enter equipment">
    </div>
    <div class="form-group">
      <label for="technical_id">Technical ID:</label>
      <input type="text" class="form-control" id="technical_id" name="technical_id" required placeholder="Enter technical ID">
    </div>
    <div class="form-group">
      <label for="asset_id">Asset ID:</label>
      <input type="text" class="form-control" id="asset_id" name="asset_id" required placeholder="Enter asset ID">
    </div>
    <div class="form-group">
      <label for="inventory_labeling">Inventory Labeling:</label>
      <input type="text" class="form-control" id="inventory_labeling" name="inventory_labeling" required placeholder="Enter inventory labeling">
    </div>
    <div class="form-group">
      <label for="category">Category:</label>
      <input type="text" class="form-control" id="category" name="category" required placeholder="Enter category">
    </div>
    <div class="form-group">
      <label for="item">Item:</label>
      <input type="text" class="form-control" id="item" name="item" required placeholder="Enter item">
    </div>
    <div class="form-group">
      <label for="make">Make:</label>
      <input type="text" class="form-control" id="make" name="make" placeholder="Enter make">
    </div>
    <div class="form-group">
      <label for="model">Model:</label>
      <input type="text" class="form-control" id="model" name="model" required placeholder="Enter model">
    </div>
    <div class="form-group">
      <label for="serial_no">Serial Number:</label>
      <input type="text" class="form-control" id="serial_no" name="serial_no" required placeholder="Enter serial number">
    </div>
    <div class="form-group">
      <label for="document_type">Document Type:</label>
      <input type="text" class="form-control" id="document_type" name="document_type" placeholder="Enter document type">
    </div>
    <div class="form-group">
      <label for="document_id">Document ID:</label>
      <input type="text" class="form-control" id="document_id" name="document_id" placeholder="Enter document ID">
    </div>
    <div class="form-group">
      <label for="acquisition_date">Acquisition Date:</label>
      <input type="date" class="form-control" id="acquisition_date" name="acquisition_date" required>
    </div>
    <div class="form-group">
      <label for="amount">Amount:</label>
      <input type="number" class="form-control" id="amount" name="amount" required placeholder="Enter Amount">
    </div>
    <div class="form-group">
      <label for="exchange_rate">Exchange Rate:</label>
      <input type="number" class="form-control" id="exchange_rate" name="exchange_rate" required placeholder="Enter The Exchange Rate">
    </div>
    <div class="form-group">
      <label for="Amount_in_USD">Amount in USD:</label>
      <input type="number" class="form-control" id="amount_in_usd" name="amount_in_usd" required placeholder="Enter The Amount in USD">
    </div>
    <div class="form-group">
      <label for="warranty">Warranty:</label>
      <input type="text" class="form-control" id="warranty" name="warranty" placeholder="Enter warranty">
    </div>
    <div class="form-group">
      <label for="Location">Location:</label>
      <input type="text" class="form-control" id="location" name="location" placeholder="Enter location">
    </div>
    <div class="form-group">
      <label for="remark">Remark:</label>
      <input type="text" class="form-control" id="remark" name="remark" placeholder="Enter remark">
    </div>
    <div class="form-group">
      <label for="staff">Custodian Name:</label>
      <select class="form-control" id="staff" name="staff">
        <option value="">Select a Custodian</option> 
        {% for staff_member in staff_members %}
        <option value="{{ staff_member.staff_personal_id }}">{{ staff_member.first_name }} {{ staff_member.last_name }}</option>
        {% endfor %}
      </select>
    </div>  
    <div class="form-group">
      <label for="status">Status:</label>
      <input type="text" class="form-control" id="status" name="status" placeholder="Enter status">
    </div>
    <div class="form-group">
      <label for="internal_remark">Internal Remark:</label>
      <input type="text" class="form-control" id="internal_remark" name="internal_remark" placeholder="Enter internal remark">
    </div>
    <div class="form-group">
      <label for="included_in_hq">Included in HQ:</label>
      <select class="form-control" id="included_in_hq" name="included_in_hq" required>
        <option value="yes">Yes</option>
        <option value="no">No</option>
        <option value="disposal">Disposal</option>
      </select>
    </div><br>
    <button type="submit" class="btn btn-primary" onclick="submitForm()">Submit</button>

<script>
    function submitForm() {
        var projId = document.getElementById('proj_id').value;
        var equipment = document.getElementById('equipment').value;
        var technicalId = document.getElementById('technical_id').value;
        var assetId = document.getElementById('asset_id').value;
        var inventoryLabeling = document.getElementById('inventory_labeling').value;
        var category = document.getElementById('category').value;
        var item = document.getElementById('item').value;
        var model = document.getElementById('model').value;
        var serialNo = document.getElementById('serial_no').value;
        var acquisitionDate = document.getElementById('acquisition_date').value;
        var amount = document.getElementById('amount').value;
        var exchangeRate = document.getElementById('exchange_rate').value;
        var amountInUSD = document.getElementById('amount_in_usd').value;
        var includedInHQ = document.getElementById('included_in_hq').value;

        // Perform validation based on your requirements
        if (
            projId === "" ||
            equipment === "" ||
            technicalId === "" ||
            assetId === "" ||
            inventoryLabeling === "" ||
            category === "" ||
            item === "" ||
            model === "" ||
            serialNo === "" ||
            acquisitionDate === "" ||
            amount === "" ||
            exchangeRate === "" ||
            amountInUSD === "" ||
            includedInHQ === ""
        ) {
            // One or more required fields are empty
            return;
        }

        showPopup();
    }

    function showPopup() {
        alert("Inventory Added");
    }
</script>
{% endblock %}

