{% extends 'base.html' %}

{% block content %}
    <!-- Project Table -->
    <div class="row mt-5">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            <a href="{{ url_for('view_projects', sort_by='proj_name', sort_order=sort_order, search_query=search_query) }}">Project Name</a>
                        </th>
                        <th>
                            <a href="{{ url_for('view_projects', sort_by='proj_id', sort_order=sort_order, search_query=search_query) }}">Project ID</a>
                        </th>
                        <th>
                            <a href="{{ url_for('view_projects', sort_by='donor', sort_order=sort_order, search_query=search_query) }}">Donor</a>
                        </th>
                        <th><strong>Description</strong></th>
                        {% if session['user_id'] == 'ict' or session['user_id'] == 'operator' %}
                            <th><strong>Action</strong></th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects.items %}
                        <tr>
                            <td>{{ project.proj_name }}</td>
                            <td>{{ project.proj_id }}</td>
                            <td>{{ project.donor }}</td>
                            <td>{{ project.description }}</td>
                            <td>
                                <!-- In your HTML template -->
                                {% if session['user_id'] == 'ict' %}
                                    <a href="{{ url_for('update_project', proj_id=project.proj_id) }}" class="btn btn-secondary">Update</a>
                                    <a href="{{ url_for('delete_project', proj_id=project.proj_id) }}" class="btn btn-danger">Delete</a>
                                {% elif session['user_id'] == 'operator' %}
                                    <a href="{{ url_for('update_project', proj_id=project.proj_id) }}" class="btn btn-secondary">Update</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>

    <!-- Pagination -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            {% if projects.has_prev %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('view_projects', page=projects.prev_num, sort_by=sort_by, sort_order=sort_order, search_query=search_query) }}">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
            {% endif %}

            {% for num in projects.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if num %}
                    {% if projects.page == num %}
                        <li class="page-item active">
                            <span class="page-link">{{ num }}</span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('view_projects', page=num, sort_by=sort_by, sort_order=sort_order, search_query=search_query) }}">{{ num }}</a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">...</span>
                    </li>
                {% endif %}
            {% endfor %}

            {% if projects.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('view_projects', page=projects.next_num, sort_by=sort_by, sort_order=sort_order, search_query=search_query) }}">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Next</span>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
